Authlib==1.5.1
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
gspread==6.2.0
numpy==2.2.4
oauthlib==3.2.2
pandas==2.2.3
parso==0.8.4
PyPDF2==3.0.1
reportlab==4.3.1
streamlit==1.44.0